
  .video-card {
    position: relative;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }
  
  .video-card-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    background-color: white;
    border-radius: 8px;
  }
  
  @media screen and  (max-width: 600px) {
    
  }
  
  
  
