.form {
    background-color: grey;
    box-sizing: border-box;
    padding: 2rem;
}

.form-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
    font-weight: 500;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.left-btn-container button {
    margin-right: 1rem;

}